/* You can add global styles to this file, and also import other style files */
@import './scss/variables.scss';
.base-button {
    background-color: $strongBlue;
    color: white;
    width: 200px;
    @extend .btn-base
}
.primary-icon-btn {
    background-color: $brightBlue;
    color: white;
    @extend .base-icon-btn
}