$strongBlue: #1567BD;
$brightBlue: #36A3DC;
$vividOrange: #F69220;
.btn-base {
    border-radius: 6px;
    height: 50px;
    text-transform: capitalize;
    text-align: center;
    font-size: 16px;
}
.base-icon-btn {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    opacity: 1;
    text-align: center;
}